.config {
    width: 500px;

    .controls {
        display: flex;
        flex-direction: row;
        gap: var(--gap-between-sections);
    }
}

.config-panel {
    flex-grow: 1;
    height: var(--main-panel-height);
    display: flex;
}

.config-errors {
    height: fit-content;
    max-height: calc(0.4 * var(--main-panel-height));
    /*flex-grow: 1;*/
    color: #B00020;
    text-wrap: wrap;
    white-space: pre-wrap;
}

.panel--config-input {
    padding: 10px;
    flex-grow: 1;
    resize: none;
    font-family: Monaco, monospace;
}

