div {
  height: 90vh;
  width: 100vw;
}

h1 {
  font-family: Futura, sans-serif;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.root-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.network-background-rect {
  fill: white;
  rx: 10px;
  ry: 10px;
  stroke: gray;
  stroke-width: 3px;
}
