:root {
  --viewer-size: 700px;
}

div {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

h1 {
  font-family: Futura, sans-serif;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.root-svg {
  height: var(--viewer-size);
  width: var(--viewer-size);
  y: 10px;
}

.network-background-rect {
  fill: white;
  rx: 10px;
  ry: 10px;
  stroke: gray;
  stroke-width: 5px;
  height: var(--viewer-size);
  width: var(--viewer-size);
}

.node {
  fill: mediumblue;
  r: 15px;
}

.message {
  fill: mediumpurple;
  r: 10px;
}

